@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Space+Mono:wght@700&display=swap');


*{
  padding: 0px;
  margin: 0px;
  font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Space Mono', monospace;
}